/*========================== ABOUT ==========================*/
.about {
    width: 100%;
    background: $bg-secundary;
    padding: 40px 20px 100px 20px;

    .about-container {
        max-width: 100%;
        margin: 0 auto;

        h1 {
            color: $c-white;
            text-align: center;
            margin-bottom: 40px;
            position: relative;

            font: {
                size: $h1-font-size-for-title;
                weight: $medium-font-weight;
            }


            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                width: 48px;
                height: 3px;
                background: $c-primary;
            }
        }

        .about-content {
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            // align-items: center;
            flex-direction: row-reverse;

            .text {
                margin-left: 70px;
                max-width: 50%;

                p {
                    color: $c-weak-white;
                    font-size: $medium-font-size-for-text;
                    margin-bottom: 20px;
                    text-align: left;
                    max-width: 62%;

                    &:nth-child(2)::after {
                        content: '\2714';
                        margin-left: 10px;
                    }

                    &:last-child::after {
                        content: '\1F91D';
                        margin-left: 10px;
                    }
                }


            }

            .img {
                width: 50%;

                .center {
                    position: absolute;
                    left: 100%;
                    transform: translateX(-100%);
                    text-align: center;
                    max-width: 220px;

                    p {
                        color: $c-weak-white;
                        font-size: 2em;
                        margin: 20px;

                        &::after {
                            content: ':)';
                            color: $c-primary;
                            margin-left: 10px;
                        }
                    }

                    img {
                        width: 220px;
                        height: 220px;
                        // border: 1px solid $c-primary;
                        border-radius: 5px;
                        // padding: 10px;
                        margin-top: 8px;
                    }
                }

            }

        }
    }
}

/*========================== RESPONSIVE ABOUT ==========================*/
@include responsive(tablet) {
    .about .about-container .about-content {
        flex-direction: column-reverse;
        align-items: center;

        .dl-about {
            max-width: 100%;
            text-align: center;

            dd {
                margin-left: 0;
            }
        }

        .img {
            margin-bottom: 40px;

            img {
                animation: none;
            }
        }
    }
}

@include responsive(mobile-1) {
    .about .about-container .about-content {
        .dl-about {
            dt {
                font-size: $medium-font-size-for-text;
            }

            dd {
                font-size: $normal-font-size-for-text;
            }
        }

        .img img {
            width: 170px;
            height: 170px;
        }
    }
}