/*========================== ABOUT ==========================*/
.about {
    width: 100%;
    background: $bg-secundary;
    padding: 40px 20px 100px 20px;

    .about-container {
        max-width: 1200px;
        margin: 0 auto;

        h1 {
            color: $c-white;
            text-align: center;
            margin-bottom: 40px;
            position: relative;

            font: {
                size: $h1-font-size-for-title;
                weight: $medium-font-weight;
            }


            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                width: 48px;
                height: 3px;
                background: $c-primary;
            }
        }

        p {
            color: $c-weak-white;
            text-align: center;
            font-size: $big-font-size-for-text;
            margin-bottom: 80px;

            &::before,
            &::after {
                content: '*';
                color: $c-primary;
            }
        }

        .about-content {
            max-width: 840px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;

            .spacer {
                margin-left: 60px;

                p:first-child {
                    font-size: 2em;
                    border-bottom: 1px solid $c-primary;
                    padding-bottom: 20px;
                }

                p {
                    color: $c-weak-white;
                    margin-bottom: 20px;
                    text-align: left;
                    max-width: 100%;

                    &::before,
                    &::after {
                        display: none;
                    }
                }
            }


            // .dl-about {
            //     width: 420px;


            //     // dt {
            //     //     margin-top: -10px;
            //     //     margin-bottom: 5px;

            //     //     font: {
            //     //         size: $big-font-size-for-text;
            //     //         weight: $medium-font-weight;
            //     //     }

            //     //     i {
            //     //         font-size: $normal-font-size-for-text;
            //     //         margin-right: .5em;
            //     //         cursor: pointer;
            //     //         transition: all .3s ease-in-out;
            //     //     }

            //     //     &.active i {
            //     //         transform: rotateZ(90deg);
            //     //     }
            //     // }

            //     dd {
            //         font-size: $medium-font-size-for-text;
            //         font-weight: $normal-font-weight;
            //         margin-left: 1.1em;
            //         animation: showDD .5s forwards;

            //         .js & {
            //             display: none;
            //         }

            //         &.active {
            //             display: block;
            //         }

            //         a {
            //             font-weight: $medium-font-weight;
            //             color: $c-primary;

            //             &:hover {
            //                 text-decoration: underline;
            //             }
            //         }
            //     }
            // }

            .img img {
                width: 240px;
                height: 240px;
                border: 1px solid $c-primary;
                border-radius: 50%;
                padding: 8px;
                animation: toUp 2.5s ease-in-out infinite alternate;
            }
        }
    }
}

/*========================== RESPONSIVE ABOUT ==========================*/
@include responsive(tablet) {
    .about .about-container {
        p {
            display: none;
        }

        .about-content {
            flex-direction: column-reverse;
            align-items: center;

            .dl-about {
                max-width: 100%;
                text-align: center;

                dd {
                    margin-left: 0;
                }
            }

            .img {
                margin-bottom: 40px;

                img {
                    animation: none;
                }
            }
        }
    }
}

@include responsive(mobile-1) {
    .about .about-container .about-content {
        .dl-about {
            dt {
                font-size: $medium-font-size-for-text;
            }

            dd {
                font-size: $normal-font-size-for-text;
            }
        }

        .img img {
            width: 170px;
            height: 170px;
        }
    }
}