/*========================== PROJECTS ==========================*/
.projects {
    width: 100%;
    background: $bg-secundary;
    padding: 40px 20px 140px 20px;
    overflow-x: hidden;

    .projects-container {
        max-width: 1200px;
        margin: 0 auto;

        h1 {
            font: {
                size: $h1-font-size-for-title;
                weight: $medium-font-weight;
            }

            color: $c-white;
            margin-bottom: 80px;
            text-align: center;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                width: 48px;
                height: 3px;
                background: $c-primary;
            }
        }

        .cards-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 40px;

            .card {
                width: 300px;
                height: 200px;
                text-align: center;
                line-height: 200px;
                background: lighten($bg-secundary, 2%);
                border-radius: 8px;
                border: 2px solid $c-primary;
                transition: all .5s ease-in-out;

                &:hover {
                    transform: scale(1.1);
                    box-shadow: 0 0 12px $c-primary;
                }

                &:hover p {
                    opacity: 1;
                }

                p {
                    font-style: italic;
                    font-size: $h3-font-size-for-title;
                    color: $c-white;
                    opacity: .8;
                    transition: all .5s ease-in-out;
                }
            }
        }
    }
}