/*========================== ANIMATIONS ==========================*/
@keyframes moveBanner {
    from {
        opacity: 0;
        transform: translateY(5rem) rotateY(-30deg);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes moveBanner-2 {
    from {
        opacity: 0;
        transform: translateX(-10rem);
    }

    to {
        transform: translateX(0);
        opacity: .8;
    }
}

@keyframes imageOpacity {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        max-height: 0;
    }

    to {
        opacity: 1;
        max-height: 500px;
    }
}


/*========================== ANIMATION WHEN SCROLLING ==========================*/
.js .js-scroll-toUp {
    opacity: 0;
    transition: all .8s ease-in-out;
    transform: translate3d(0, 5rem, 0) rotateY(-30deg);
}

.js .js-scroll-toUp.active {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}