/*========================== IMPORT FONTS ==========================*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Cabin+Sketch&family=Kanit:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap');

/*========================== IMPORT VARIABLES, MIXINS AND ANIMATIONS ==========================*/
@import './variables-and-mixins.scss';
@import './animations.scss';

/*========================== IMPORT PAGES ==========================*/
@import './about';
@import './skills';
@import './projects';
@import './contact';

/*========================== RESET ==========================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: $default-font-family;
}

a {
    text-decoration: none;
}

body {
    background: $c-white;
    font-size: $normal-font-size-for-text;
    -webkit-font-smoothing: antialiased;

    &::-webkit-scrollbar {
        width: 8px;
        background: lighten($bg-primary, 2%);
    }

    &::-webkit-scrollbar-thumb {
        background: $c-primary;
        background: -moz-linear-gradient(to bottom, $c-primary, darken($c-primary, 20%));
        background: -webkit-linear-gradient(to bottom, $c-primary, darken($c-primary, 20%));
        background: linear-gradient(to bottom, $c-primary, darken($c-primary, 20%));
        border-radius: 5px;
    }
}